* {
	margin: 0;
	border: none;
	background: none;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: rgb(243, 243, 243);
}

.container {
	margin: 0 auto;
	max-width: 1440px;
}

button {
	cursor: pointer;
}

/* header */

.header-top-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 60px;
}

.header-top-menu-right {
	display: flex;
	align-items: center;
	gap: 35px;
}

.green_logo {
	color: #10b981;
	font-size: 40px;
	font-style: italic;
}

.black_logo {
	color: black;
}

.header__input-wrap {
	background-color: white;
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding-right: 18px;
	box-shadow: 0px 15px 50px 0px #2e839e07;
}

.header__input {
	padding: 23.5px;
}

.header__input::placeholder {
	font-size: 16px;
	font-weight: 500;
	color: #29293020;
}

.search {
	padding: 10px;
	background-color: #10b981;
	border-radius: 5px;
}

.header__trash-button {
	height: 60px;
	padding: 0px 40px;
	border-radius: 30px;
	border: 1px #10b981 solid;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 16px;
	font-weight: 500;
	color: #2b2626;
}

.header__login-or-signup {
	height: 60px;
	padding: 0px 40px;
	border-radius: 30px;
	background-color: #10b981;
	color: white;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 16px;
	font-weight: 500;
}

.header_inner-bottom {
	background-color: #10b981;
	padding: 30px 0;
}

.nav {
	display: flex;
	justify-content: center;
	gap: 75px;
}

.nav_elem {
	list-style: none;
}

.nav_elem_btn {
	color: white;
	font-size: 20px;
	font-weight: 600;
}

/* welcome */

.welcome {
	padding: 100px 0;
}

.welcome-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #2b2626;
}

.left-inner {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	gap: 52px;
}

.left-inner_text {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.title {
	font-size: 64px;
	font-weight: 600;
}

.subtitle {
	font-size: 21px;
	font-weight: 500;
}

.button-buy {
	background-color: #10b981;
	border-radius: 10px;
	color: white;
	font-size: 21px;
	font-weight: 600;
	height: 70px;
	max-width: 273px;
	box-shadow: 0px 25px 50px 0px #845ec215;
}

.right_picture-img {
	background-color: #ecfef4;
	border-radius: 136px;
	max-width: 272px;
	height: 477px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.star {
	position: relative;
	right: 50px;
	bottom: 20px;
}

.star2 {
	display: flex;
	position: relative;
	top: 20px;
	justify-content: flex-end;
}

.rewiews {
	display: flex;
	gap: 15px;
	margin-top: 110px;
}

.rewiews__img {
	display: flex;
	max-width: 180px;
}

.rewiews__img-el {
	position: relative;
	left: -20px;
}

.el3 {
	left: -40px;
}

.el4 {
	left: -60px;
}

.rewiews__text {
	font-size: 26px;
	font-weight: 500;
	max-width: 113;
}

.play-video {
	position: relative;
	display: flex;
	align-items: center;
	gap: 15px;
	flex-direction: column;
	right: 300px;
	bottom: 118px;
}

.play-video img {
	width: 69px;
}

.play-video-text {
	font-size: 21px;
	font-weight: 500;
	z-index: 1;
}

.airpods {
	background-color: #845ec2;
	color: white;
	padding: 70px 0;
}

.airpod-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.airpod-left-inner {
	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.airpod-left-inner-title {
	font-size: 60px;
	font-weight: 600;
	color: transparent;
	-webkit-text-stroke: 1px white;
	margin-bottom: 37px;
}

.airpod-left-inner-img {
	display: flex;
	gap: 32px;
}

.two_picture {
	position: relative;
	bottom: 70px;
}

.airpod-right-inner-text {
	max-width: 560px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
}

.airpod-right-inner-text h2 {
	font-size: 44px;
	font-weight: 600;
}

.airpod-right-inner-text p {
	font-size: 21px;
	font-weight: 500;
	max-width: 500px;
}

.airpod-right-inner-buttons {
	margin-top: 35px;
	display: flex;
	gap: 10px;
}

.airpod-right-inner-buttons button {
	padding: 22px 70px;
	color: white;
	font-size: 21px;
	font-weight: 600;
	border-radius: 10px;
}

.add_to_trash {
	background-color: #10b981;
}

.airpod-left-inner-price {
	font-size: 31px;
}

h2 {
	font-size: 44px;
	text-align: center;
	font-weight: 600;
}

.sellers-inner {
	padding: 120px 0;
}

.select-filter {
	display: flex;
	gap: 20px;
	justify-content: center;
	margin-top: 55px;
}

.select-filter__buttonpicks {
	background-color: #10b981;
	color: white;
}

.select-filter button {
	border-radius: 100%;
	padding: 30px 20px;
	font-size: 26px;
}

.sellers-cards {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	gap: 50px;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 30px;
	max-width: 361px;
	color: #2b2626;
}

.card-stats {
	border-radius: 15px;
	background-color: #ecfef4;
	padding: 18px 21px;
}

.card-stats-text {
	display: flex;
	flex-direction: column;
	padding: 30px 50px;
	background-color: white;
	border-radius: 15px;
	margin-top: 30px;
}

.card button {
	padding: 22px 119px;
	background-color: #10b981;
	color: white;
	border-radius: 10px;
	font-size: 21px;
	font-weight: 600;
}

.card-stats-text {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.card-stats-text-reviews {
	display: flex;
	gap: 15px;
	align-items: center;
}

.card-stats-text-title {
	font-size: 21px;
	font-weight: 500;
}

.card-stats-text-subtitle {
	font-size: 11px;
	font-weight: 500;
	color: #888888;
}

.card-stats-text-price {
	font-size: 21px;
	font-weight: 600;
}

.padd {
	padding: 15px 15px;
}

.card-stats {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-stats img {
	max-width: 196px;
}

.mark {
	position: absolute;
	left: 230px;
	background-color: #10b981;
	color: white;
	border-radius: 100%;
	font-size: 18px;
	font-weight: 600;
	height: 100px;
	width: 100px;
	display: flex;
	align-items: center;
    justify-content: center;
}

.mark-3 {
	background-color: #845EC2;
}


.card-stats-picture {
	display: flex;
}

.card-3 {
	background-color: #e5d5ff !important;
}

.card-2 {
	background-color: #c9f2ff;
}

.card-4 {
	background-color: #E0EFFF;
}
.card-5 {
	background-color: #E8F9FF;
}
.card-6 {
	background-color: #D3FBFB;
}

.next_cards {
	position: absolute;
	right: 350px;
	top: 2350px;
}

@media (min-width: 768px) and (max-width: 1140px) {
	.airpods .airpod-inner {
		flex-direction: column !important;
		gap: 40px;
	}

	.two_picture {
		bottom: 70px;
	}

	.airpod-left-inner-title {
		text-align: center;
	}

	.airpod-left-inner-price {
		margin-top: 20px;
	}

	.airpod-right-inner-buttons {
		flex-direction: column;
	}
	.sellers-cards {
		flex-wrap: wrap;
		gap: 50px;
	}
	.footer_menu {
		flex-direction: column;
		gap: 40px !important;
	}
}

.colors {
	display: flex;
	gap: 31px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.black {

	background-color: black;
	border-radius: 100%;
	padding: 22px;
}

.blue {
	background-color: blue;
	border-radius: 100%;
	padding: 22px;
}

.yellow {
	background-color: yellow;
	border-radius: 100%;
	padding: 22px;
}

.airdrop-left-inner-price {
	margin-top: 21px;
}

.airdrop-left {
	display: flex;
	gap: 45px;
}

.top {
	position: relative;
	top: 50px;
}


@media (min-width: 360px) and (max-width: 768px) {
	.airpods .airpod-inner {
		flex-direction: column !important;
		gap: 40px;
	}

	.airpod-left-inner-img {
		flex-direction: column;
		gap: 32px;
	}

	.two_picture {
		bottom: 0px;
	}

	.airpod-left-inner-title {
		text-align: center;
	}

	.airpod-left-inner-price {
		margin-top: 20px;
	}

	.airpod-right-inner-buttons {
		flex-direction: column;
	}
	.sellers-cards {
		flex-wrap: wrap;
		gap: 50px;
	}
	.footer_menu {
		flex-direction: column;
		gap: 40px !important;
	}
}

.input_container {
	display: flex;
	align-items: center;
}

.input-img {
	background-color: #10b981;
	padding: 13px;
	border-radius: 8px 8px 0px 0px;
}

.form-input {
	padding: 15px;
	border-bottom: 1px solid #cacaca;
}

.footer_form-title {
	font-size: 22px;
	max-width: 190px;
	margin-bottom: 30px;
}


.footer-title {
	font-size: 22px;
}

.footer_inner {
	display: flex;
	flex-direction: column;
	margin-top: 130px;
}


.footer_header {
	display: flex !important;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;
	margin-bottom: 50px;
}


.btn-footer {
	background-color: #10b981;
	padding: 14px 41px;
	color: white;
	font-size: 17px;
	font-weight: 700;
}

.footer_menu {
	display: flex;
	gap: 170px;
	margin-top: 40px;
	justify-content: space-between;
}

.footer_social {
	margin-top: 70px;
}

.footer_menu_inner {
	display: flex;
	gap: 170px;
}

.col {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.menu-title {
	color: #10B981;
	font-size: 17px;
}

.col a {
	text-decoration: none;
	color: black;
	font-size: 15px;
}

hr {
	border: none;
	border-top: 1px solid #cacaca;
	color: #cacaca;
	overflow: visible;
	text-align: center;
	height: 5px;
  }

.footer_social {
	display: flex;
	justify-content: space-between;
	margin-bottom: 130px;
}

.social {
	display: flex;
	gap: 40px;
}

.politic {
	display: flex;
	gap: 40px;
}

.politic a {
	font-size: 15px;
	text-decoration: none;
	color: black;
}